.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.main-page{
  width: 100%;
}

.side-menu{
  height: 100vh;
  width: 230px;
  position: fixed;
  background-color: rgb(247, 246, 243);;
  padding: 10px;
}

.side-menu-elem{
  margin: 15px 10px;
}

.side-menu-elem:hover{
  cursor: pointer;
}

.page-content{
  margin-left: 250px;
  height: 200vh;
}

.account-preview{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.avatar{
  border-radius: 10%;
  width: 20px;
  height: 20px;
  background: darkgray;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.account-preview > div{
  margin-right: 10px;
}

.account-name{
  display: inline-block;
  font-size: 22px;
}

.menu-icon{
  margin-right: 10px;
}

.icon{
  width: 15px;
  height: 15px;
}

.icon-sm{
  width: 10px;
  height: 10px;
}

.icon-lg{
  width: 20px;
  height: 20px;
}

.page-list{
  list-style: none;
  padding-left: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  transition: height 1s linear;
}

.page-list-elem{
  margin: 10px;
}

.pages-title{
  font-size: 22px;
}

.top-bar{
  background-color: rgb(247, 246, 243);;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.current-page-title{
  padding: 10px;
}

.favorite-button{
  margin: 10px;
}

.page-container{
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}

.help-button{
  position: fixed;
  bottom: 50px;
  right: 50px;
  background-color: darkgray;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-form{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.add-form-field {
  flex-shrink: 1;
  min-width: 0;
}

.triangle{
}

.closed-triangle {
 transform: rotate(-90deg);
}

.closed-list {
  height: 0;
}

.modal-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(247, 246, 243);
  border-radius: 10px;
}

.templates-list {
  margin: 20px;
}

.templates-item {
  display: flex;
  width: 300px;
  height: 50px;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  margin: 20px 0;
}

.templates-item:hover{
  cursor: pointer;
  color: gray;
}

.add-block {
  display: flex;
  width: 100%;
  justify-content: center;
  color: gray;
  font-size: 24px;
  margin: 20px 0;
}

.visible {
  color: black;
  font-weight: 700;
}

.add-block:hover{
  cursor: pointer;
}

.block-list {
  display: flex;
  flex-direction: column;
  background-color: rgb(247, 246, 243);
  width: 300px;
  color: gray;
  font-size: 18px;
  border-radius: 10px;
  padding: 15px;
}

.block-list-item {
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
}

.block-list-item:hover {
  font-weight: 700;
  color: black;
  cursor: pointer;
}